
/*FONTS*/

/*Sans*/
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Black.otf");
  src: url("fonts/eot/IndivisaTextSans-Black.eot"),
       url("fonts/woff2/IndivisaTextSans-Black.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-Black.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-Black.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Sans-Black-Web.svg") format('svg');*/
  font-weight: 700;
}
@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-BlackItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-BlackItalic.eot"),
       url("fonts/woff2/IndivisaTextSans-BlackItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-BlackItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-BlackItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Sans-Black_Italic-Web.svg") format('svg');*/
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Light.otf");
  src: url("fonts/eot/IndivisaTextSans-Light.eot"),
       url("fonts/woff2/IndivisaTextSans-Light.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-Light.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-Light.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Sans-Light-Web.svg") format('svg');*/
  font-weight: 300;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-LightItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-LightItalic.eot"),
       url("fonts/woff2/IndivisaTextSans-LightItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-LightItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-LightItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Sans-Light_Italic-Web.svg") format('svg');*/
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-Regular.otf");
    src: url("fonts/eot/IndivisaTextSans-Regular.eot"),
         url("fonts/woff2/IndivisaTextSans-Regular.woff2") format('woff2'),
         url("fonts/woff/IndivisaTextSans-Regular.woff") format('woff'),
         url("fonts/ttf/IndivisaTextSans-Regular.ttf") format('truetype');
         /*url("fonts/svg/Indivisa_Text_Serif-Light_Italic-Web.svg") format('svg')*/
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IndivisaTextSans";
  src: url("fonts/otf/IndivisaTextSans-RegularItalic.otf");
  src: url("fonts/eot/IndivisaTextSans-RegularItalic.eot"),
       url("fonts/woff2/IndivisaTextSans-RegularItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSans-RegularItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSans-RegularItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Sans-Regular_Italic-Web.svg") format('svg');*/
  font-weight: 400;
  font-style: italic;
}


/*Serif*/
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-Black.otf");
  src: url("fonts/eot/IndivisaTextSerif-Black.eot"),
       url("fonts/woff2/IndivisaTextSerif-Black.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-Black.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-Black.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Black-Web.svg") format('svg');*/
  font-weight: 700;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-BlackItalic.otf");
  src: url("fonts/eot/IndivisaTextSerif-BlackItalic.eot"),
       url("fonts/woff2/IndivisaTextSerif-BlackItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-BlackItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-BlackItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Black_Italic-Web.svg") format('svg');*/
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-Bold.otf");
  src: url("fonts/eot/IndivisaTextSerif-Bold.eot"),
       url("fonts/woff2/IndivisaTextSerif-Bold.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-Bold.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-Bold.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Bold-Web.svg") format('svg');*/
  font-weight: 600;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-BoldItalic.otf");
  src: url("fonts/eot/IndivisaTextSerif-BoldItalic.eot"),
       url("fonts/woff2/IndivisaTextSerif-BoldItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-BoldItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-BoldItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Bold-Web.svg") format('svg');*/

  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-Light.otf");
  src: url("fonts/eot/IndivisaTextSerif-Light.eot"),
       url("fonts/woff2/IndivisaTextSerif-Light.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-Light.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-Light.ttf") format('truetype'),
       url("fonts/svg/Indivisa_Text_Serif-Light-Web.svg") format('svg');
  font-weight: 300;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-LightItalic.otf");
  src: url("fonts/eot/IndivisaTextSerif-LightItalic.eot"),
       url("fonts/woff2/IndivisaTextSerif-LightItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-LightItalic.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-LightItalic.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Light_Italic-Web.svg") format('svg');*/
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-Regular.otf");
  src: url("fonts/eot/IndivisaTextSerif-Regular.eot"),
       url("fonts/woff2/IndivisaTextSerif-Regular.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-Regular.woff") format('woff'),
       url("fonts/ttf/IndivisaTextSerif-Regular.ttf") format('truetype');
       /*url("fonts/svg/IndivisaTextSerif-Regular.svg") format('svg');*/
  font-weight: 400;
}
@font-face {
  font-family: "IndivisaTextSerif";
  src: url("fonts/otf/IndivisaTextSerif-RegularItalic.otf");
  src: url("fonts/eot/IndivisaTextSerif-RegularItalic.eot"),
       url("fonts/woff2/IndivisaTextSerif-RegularItalic.woff2") format('woff2'),
       url("fonts/woff/IndivisaTextSerif-RegularItalic.woff") format('woff'),
       url("fonts/ttf/Indivisa_Text_Serif-Regular_Italic-Web.ttf") format('truetype');
       /*url("fonts/svg/Indivisa_Text_Serif-Regular-Web.svg") format('svg');*/
  font-weight: 400;
  font-style: italic;
}

/*General*/
html,
body {
  height: 100%;
  width: 100%;
  font-family: IndivisaTextSans, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
}


h1{
	font-size: 	185px;
	color: #fff;
	text-align: center;
	line-height: 136px;
}
h2,p.frase,p.fecha,p.indivisaManent{
	color: #001E61;
}
h2
{
	font-size: 	145px;
	text-align: center;
}
h3{
	font-size: 25px;
	color: #000;

}

.chevron {
    margin-right: 15px;
    background: url(../images/contenido/chevron_rojo.png) no-repeat top left;
    display: inline-block;
    height: 15px;
    width: 26px;
}

/*Fin General*/

/*Header*/
.logo{
  margin-top: 10px;
}

/*Fin header*/

/*Contenido*/
h1{
	font-family: "IndivisaTextSerif";
	font-weight: 700;
	font-style: normal;
}
p.indivisaManent{
	font-family: "IndivisaTextSerif";
	font-weight: 600;
	font-style: italic;
}
h2,p.titulo,p.fecha,p.indivisaManent{
	font-family: "IndivisaTextSans";
	font-weight: 700;
}

.bgTextura{
  background-image: url('../images/background.png');
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size:  contain;
  -o-background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bgAzul{
	background-color: #001E61;
	height: 40vh;
}
p.titulo{
	margin:0;
}
p.titulo,p.contenido,p.fecha,p.frase,p.indivisaManent{
	text-align: center;
}
p.titulo,p.contenido{
	color:#2E50A3; 
}
p.titulo{
	font-size: 22px;
	line-height: 18px;
}

p.contenido{
	font-size: 18px;
	line-height: 18px;
}
p.titulo span.cifra{
	font-size: 24px;
}
p.fecha span.lineaVertical{
	border-left: solid red 5px;
	margin-right: 15px;
}
div.contenidoFecha{
	margin-top: 50px;
}
p.fecha{
	font-size: 20px;
}


/*Fin Contenido*/
/*Footer*/
footer {
  text-align: center;
  padding-top: 10px;
}
footer a{
	color: #101d61;
  font-weight: bold;
}
footer a:hover{
	text-decoration: none;
	color: #c30824;

}
footer div ul {
    list-style-image: url('../images/footer/icon_redArrow.png');
}
footer div ul li {
    float: right;
    margin-left: 50px
}

footer div ul li a {
    display: block;
    text-align: center;
    padding: 16px 0px;
    text-decoration: none;
}

p.direccionFooter {
  color: #fff;
  text-align: left;
}

p.aviso, p.terminos{
  cursor: pointer;
  padding: 1% 0;
}
p.aviso:hover, p.terminos:hover{
  color: #c30824;
}
p.aviso.active,p.terminos.active{
  border-bottom: #c30824 solid 2px;
}
div.resumenAviso p, div.resumenTerminos p{
  text-align: left;
}

.bgBlack {
	background: #000;
	text-align: center!important;
}
.bgBlack > p {
	width: 100%;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 0px;
}

.bgGray{
	background: #232323;
	padding-top: 20px;
}
.redesSociales {
	vertical-align: middle;
}
div.redesSociales figure
{
	display: inline-block;
	padding: 0%;
}
div.redesSociales p
{
	color: #fff;
	text-align: left;
}
.img-responsive {
  text-align: left;
}
.logos img{
  margin: auto auto 15px 0;
  text-align: right;
  /* position: absolute; */
  /* margin: 0 30px 20px 30%; */
}

/* redes sociales */
#siguenos_ {
	width: 128px;
	height: 75px;
	background: url("../images/footer/Siguenos_Flat.png") -6px -10px;
}
#_facebook {/*1*/
	width: 32px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -133px -23px;
}
#_twitter {/*2*/
	width: 31px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -164px -23px;
}
#_instagram {/*3*/
	width: 30px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -195px -23px;
}
#_linkedin {/*4*/
	width: 32px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -225px -23px;
}
#_foursquare { /*5*/
	width: 32px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -133px -55px;
}
#_swarm { /*6*/
	width: 31px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -164px -55px;
}
#_snapchat { /*7*/
	width: 32px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -194px -55px;
}
#_youtube { /*8*/
	width: 32px;
	height: 32px;
	background: url("../images/footer/Siguenos_Flat.png") -226px -55px;
}
.siguenos{
	padding-bottom: 20px;
}
.siguenos > img {
	display: block;
	max-width:100%;
	max-height:100%;
	width: 117px;
 	height: 77px;
}

.footer-col {
	padding: 0px 0px 0px 0px;
}

/*Fin Footer*/
/*Media Queries*/



/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
   	h1 {
	    font-size: 70px;
	    line-height: 40px;
	}
	.bgAzul {
	    height: 25vh;
	}
	.bgTextura{
	  background-image: url('../images/background.png');
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size:  cover;
	  -o-background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: initial;
	}
	h2 {
	    font-size: 60px;
	}
	footer {
		align-self: center;
		background: transparent;
	}
	.redesSociales {
		padding: 0 15px 0 0
	}
	#siguenos_ {
		width: 125px;
		height: 62px;
		background: url("../images/footer/Sprite5.png") 0px 0px;
		margin-left: 15px;
	}
	.bloque-social {
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
 	h1 {
	    font-size: 70px;
	    line-height: 40px;
	}
	.bgAzul {
	    height: 30vh;
	}
	.bgTextura{
	  background-image: url('../images/background.png');
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  background-size:  cover;
	  -o-background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-attachment: initial;
	}
	h2 {
	    font-size: 60px;
	}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px){ 

}

@media (min-width: 1200px) {
	.redesSociales {
		padding-left: 7%;
		padding-right: 7%;
	}
}